{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
        }
    },
    "rules": {
        "semi": 1, // autofixable
        "no-extra-semi": 1, // autofixable
        "@typescript-eslint/no-extra-semi": 1, // autofixable
        "no-undef": 0,
        "prefer-const": 1,
        "no-cond-assign": 0,
        "no-unused-labels": 1,
        "@typescript-eslint/explicit-module-boundary-types": 1,
        "@typescript-eslint/no-non-null-assertion": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}